<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.dao.BoardDAO">
    <select id="selectBoardList" resultType="BoardVO" parameterType="int">
        select A.iboard, A.title, A.iuser, A.regdt, B.unm
        from t_board A
        inner join t_user b
        on A.iuser = B.iuser
        order by iboard desc
        limit #{pageKey},3
    </select>
    <select id="getPageCnt" parameterType="String" resultType="int">
        select ceil(count(*)/3) from t_board
        where title like '%${search}%';
    </select>
</mapper>